.container-contato{
    background: rgba(255, 255, 255, 0.06);
    width: 80%;
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
    padding: 30px 25px;
    border-radius: 15px;
    gap: 40px;
    margin-top: 40px;
}
.texto-contato h2{
    color: white;
    text-shadow: 0 0 8px rgba(255, 255,255,0.3);
    font-size: 28px;
    margin-bottom: 10px;
    text-align: center;
    margin-bottom: 15px;
}
.link-contato{
    list-style: none;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.link-contato a:hover{
    color: white;
    cursor: pointer; 
    transition: 0.3s;
}
.link-contato a{
    text-decoration: none;
    color: #9ecaff;
}
.link-contato li{
    display: flex;
    align-items: center;
    gap: 10px;
}
.logo-linkedin{
    height: 40px;
    width: 40px;
    border-radius: 50%;
}
.logo-insta{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    gap: 5px;
}