.footer {
    margin-top: 60px;
    padding: 20px 0;
}

.footer-container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer p {
    font-size: 14px;
    color: rgba(255, 255, 255, 0.5);
    text-align: center;
}
