.habilidades{
   margin-bottom: 15px;
   width: 100%;
}
.container-habilidades {
    background: rgba(255, 255, 255, 0.06);
    width: 80%;
    margin: 0 auto;
    margin-top: 40px;
    padding: 30px 25px;
    border-radius: 15px;
}

.nome-habilidade{
    display: block;
    color: white;
    margin-bottom: 5px;
    font-weight: bold;
}
.barra-fundo{
    width: 100%;
    height: 20px;
    background-color: rgb(160, 153, 153);
    border-radius: 10px;
    overflow: hidden;
}
.progresso{
    height: 100%;
    background-color: orange;
    border-radius: 10px 0 0 10px;
    transition: width 0.5 ease;
}
