.sobre{
    display: flex;
    padding: 60px 0;
    justify-content: center;
    margin-top: 40px;
}
.container-sobre{
    background: rgba(255, 255, 255, 0.06);
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    padding: 30px 25px;
    border-radius: 15px;
    gap: 35px;
    margin-top: 40px;
}
.container-sobre div:last-child{    /*Para pegar apenas a ultima div dentro do container*/
    flex-shrink: 0;     /*Não deixa a imagem diminuir de tamanho*/
}
.container-sobre h2{
    color: white;
    text-shadow: 0 0 8px rgba(255, 255,255,0.3);
    font-size: 32px;
    margin-bottom: 10px;
}
.container-sobre p {
    font-size: 20px;
    color: white;
    line-height: 1.6;
    font-style: italic;
}
.texto-sobre{
    flex: 1; /*Para ocupar todo o espaço*/
    text-align: justify;
}